version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    # persists redis data
    volumes:
      - redis_data:/data

  django:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DJANGO_SETTINGS_MODULE=DjangoRedis.settings

  celery:
    build:
      context: .
      dockerfile: Dockerfile.celery
    command: celery -A DjangoRedis worker -l info
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    command: celery -A DjangoRedis beat -l info
    depends_on:
      - redis
      - django
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

# setting volumes
volumes:
  redis_data:
